<a href="https://colab.research.google.com/github/carloscelestino1/DataScience-and-ML/blob/main/machineLearning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_logica = pd.DataFrame(np.random.randint(28, size=(100, 1)), columns=['log_acertos'])
df_logica

    log_acertos
0            17
1            17
2             4
3            19
4            20
..          ...
95           21
96            8
97           23
98            2
99            5

[100 rows x 1 columns]

In [4]:
df_portugues = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['port_acertos'])
df_portugues

    port_acertos
0             11
1              4
2             16
3              6
4              2
..           ...
95             2
96            12
97             8
98            14
99             6

[100 rows x 1 columns]

In [5]:
df_java = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['java_acertos'])
df_java

    java_acertos
0              3
1              4
2              0
3              1
4              5
..           ...
95             7
96             3
97             3
98             7
99             7

[100 rows x 1 columns]

In [6]:
df_python = pd.DataFrame(np.random.randint(40, size=(100,1)), columns=['py_acertos'])
df_python

    py_acertos
0           20
1           26
2            5
3           14
4           27
..         ...
95          28
96          25
97          24
98          26
99          22

[100 rows x 1 columns]

In [9]:
df_formacao = pd.DataFrame(np.random.randint(2, size=(100, 1)), columns=['formacao'])
df_formacao

    formacao
0          1
1          0
2          0
3          1
4          1
..       ...
95         0
96         1
97         1
98         1
99         0

[100 rows x 1 columns]

In [10]:
df = pd.concat([df_logica,df_portugues,df_java,df_python,df_formacao], axis=1)

In [11]:
df.head(30)

    log_acertos  port_acertos  java_acertos  py_acertos  formacao
0            17            11             3          20         1
1            17             4             4          26         0
2             4            16             0           5         0
3            19             6             1          14         1
4            20             2             5          27         1
5            17             2             2          26         0
6            16            10             3          35         0
7            19            12             1          39         0
8             5             5             4           0         1
9             7            17             4          20         1
10            1             8             2          27         1
11           22            16             0          25         1
12           19            14             2          37         0
13            7            16             6          15         1
14           20             5             3           3         0
15           27             1             2           6         0
16           12            16             1          17         1
17            6             9             4          29         0
18           26             9             7          19         1
19           10             8             2          33         0
20           18             0             0          14         0
21            0             4             7          21         0
22            3             6             3          27         0
23            7             6             7           8         1
24           14            12             5          23         1
25           11            11             7           1         0
26            5             4             2          17         1
27           10            16             5           8         0
28           21            11             3          27         1
29           19             0             3          15         0

In [12]:
x = df[['log_acertos', 'port_acertos', 'java_acertos', 'py_acertos']]

In [16]:
y = df[['formacao']]

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
train_test_split(x,y, test_size=0.25)

[    log_acertos  port_acertos  java_acertos  py_acertos
 21            0             4             7          21
 23            7             6             7           8
 67            9            15             5          18
 24           14            12             5          23
 12           19            14             2          37
 ..          ...           ...           ...         ...
 3            19             6             1          14
 97           23             8             3          24
 90            2            11             2          20
 89           21            13             3          23
 33           10             2             3          15

 [75 rows x 4 columns],     log_acertos  port_acertos  java_acertos  py_acertos
 85            6            13             6          23
 53           10             4             4          17
 57           15             9             7          37
 80           17             3             4          19
 8             5             5             4           0
 2             4            16             0           5
 40           20             5             0          31
 82            0            12             4           2
 68            3             5             0          22
 75           11             9             2          34
 31           21             6             3          14
 59           24            15             0          18
 73            6            16             1          36
 76            4            11             0          15
 86           27             3             6           3
 9             7            17             4          20
 32           27             4             4           2
 69           22            14             3          22
 43           19             6             4           7
 95           21             2             7          28
 27           10            16             5           8
 29           19             0             3          15
 0            17            11             3          20
 92            3             0             0           4
 98            2            14             7          26,     formacao
 21         0
 23         1
 67         1
 24         1
 12         0
 ..       ...
 3          1
 97         1
 90         1
 89         1
 33         1

 [75 rows x 1 columns],     formacao
 85         0
 53         1
 57         1
 80         1
 8          1
 2          0
 40         1
 82         1
 68         0
 75         1
 31         1
 59         1
 73         1
 76         0
 86         0
 9          1
 32         0
 69         0
 43         1
 95         0
 27         0
 29         0
 0          1
 92         1
 98         1]

In [23]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size=0.25)
print(treino_x.shape)
print(teste_x.shape)

(75, 4)
(25, 4)

In [24]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [25]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size=0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 25 elementos

In [52]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [53]:
print('A acuracia foi %.2f%%' % acuracia)

A acuracia foi 56.00%

In [54]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, random_state=SEED, test_size=0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100

print('A acuracia foi %.2f%%' % acuracia)

Treinaremos com 75 elementos e testaremos com 25 elementos
A acuracia foi 48.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [58]:
treino_y.value_counts()

formacao
1           41
0           34
dtype: int64

In [59]:
teste_y.value_counts()

formacao
0           13
1           12
dtype: int64